<a href="https://colab.research.google.com/github/J3r3myPerera/House-Price-Prediction/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
df = pd.read_csv('house_prices.csv')

In [46]:
df.head()

,Title,Sub_title,Price,Address,Baths,Land size,Beds,House size,Location,Description,Post_URL,Seller_name,Seller_type,published_date,Geo_Address,Lat,Lon
0,House with Land for Sale in Matara for sale,"Posted on 06 Nov 2:32 pm, Matara City, Matara","Rs 5,400,000","Gangodagama Roard,Hakmana,Matara.",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara","Land for sale with house Matara,Hakmana Gangod...",https://ikman.lk/en/ad/house-with-land-for-sal...,Ishara Dilshan,Member,2021-11-06 14:32:00,"Matara City, Matara, Sri Lanka",80.500000,6.166670
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Posted on 24 Oct 7:27 am, Athurugiriya, Colombo","Rs 16,800,000",Athurugiriya Galwarusapare,3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",*House For Sale In Athurugiriya *Galwarusapare...,https://ikman.lk/en/ad/alut-kaamr-3-k-grh-bhaa...,DILRUWAN REAL ESTATE,Premium-Member,2021-10-24 07:27:00,"Athurugiriya, Colombo, Sri Lanka",79.989929,6.877246
2,Kelaniya - House on 20P Land for sale for sale,"Posted on 17 Nov 5:19 pm, Kelaniya, Gampaha","Rs 20,000,000",Kelaniya- Ranaviru Maldeniya Road,2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha","Kelaniya- Biyagama road, Ranaviru Maladeniya R...",https://ikman.lk/en/ad/kelaniya-house-on-20p-l...,Provident Paradise (Pvt) Ltd,Member,2021-11-17 17:19:00,"Kelaniya, Gampaha, Sri Lanka",79.914926,6.951178
3,House For Sale in Pamankada Lane Wellawatte Co...,"Posted on 17 Nov 5:07 pm, Colombo 6, Colombo","Rs 187,000,000",Pamankada Lane Wellawatte Colombo.06,5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",22 Perches House For Sale in Pamankada Lane We...,https://ikman.lk/en/ad/house-for-sale-in-paman...,Colombo Construction Property Developers,Premium-Member,2021-11-17 17:07:00,"Colombo 6, Colombo, Sri Lanka",80.016670,6.866670
4,House For Sale - Attidiya for sale,"Posted on 17 Nov 5:06 pm, Dehiwala, Colombo","Rs 1,300,000",MainRoad Attidiya,1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",*à¶ à¶­à·à¶­à·à¶©à·à¶º à¶´à·âà¶»à¶¯à·à·...,https://ikman.lk/en/ad/house-for-sale-attidiya...,Lakdinu Houses,Member,2021-11-17 17:06:00,"Dehiwala, Colombo, Sri Lanka",79.880242,6.838232

In [47]:
relevant_columns = ['Title','Price','Location', 'Baths', 'Beds','House size', 'published_date']
df1 = df[relevant_columns]

In [48]:
df1.head()

,Title,Price,Location,Baths,Beds,House size,published_date
0,House with Land for Sale in Matara for sale,"Rs 5,400,000","Matara City, Matara",1,3,"1,600.0 sqft",2021-11-06 14:32:00
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Rs 16,800,000","Athurugiriya, Colombo",3,3,"1,480.0 sqft",2021-10-24 07:27:00
2,Kelaniya - House on 20P Land for sale for sale,"Rs 20,000,000","Kelaniya, Gampaha",2,3,"2,800.0 sqft",2021-11-17 17:19:00
3,House For Sale in Pamankada Lane Wellawatte Co...,"Rs 187,000,000","Colombo 6, Colombo",5,5,"4,000.0 sqft",2021-11-17 17:07:00
4,House For Sale - Attidiya for sale,"Rs 1,300,000","Dehiwala, Colombo",1,2,900.0 sqft,2021-11-17 17:06:00

In [49]:
df1

,Title,Price,Location,Baths,Beds,House size,published_date
0,House with Land for Sale in Matara for sale,"Rs 5,400,000","Matara City, Matara",1,3,"1,600.0 sqft",2021-11-06 14:32:00
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Rs 16,800,000","Athurugiriya, Colombo",3,3,"1,480.0 sqft",2021-10-24 07:27:00
2,Kelaniya - House on 20P Land for sale for sale,"Rs 20,000,000","Kelaniya, Gampaha",2,3,"2,800.0 sqft",2021-11-17 17:19:00
3,House For Sale in Pamankada Lane Wellawatte Co...,"Rs 187,000,000","Colombo 6, Colombo",5,5,"4,000.0 sqft",2021-11-17 17:07:00
4,House For Sale - Attidiya for sale,"Rs 1,300,000","Dehiwala, Colombo",1,2,900.0 sqft,2021-11-17 17:06:00
...,...,...,...,...,...,...,...
15322,House for sale Nittabuwa for sale,"Rs 6,750,000","Nittambuwa, Gampaha",1,3,"1,200.0 sqft",2021-11-23 14:06:00
15323,House for Sale - Wellawatte for sale,"Rs 70,000,000","Dehiwala, Colombo",2,3,"1,100.0 sqft",2021-11-19 21:08:00
15324,House with 20 Perches Land - Maharagama for sale,"Rs 44,000,000","Maharagama, Colombo",4,5,"2,750.0 sqft",2021-11-29 00:26:00
15325,House for sale in Maharagama for sale,"Rs 15,000,000","Dehiwala, Colombo",2,2,"1,350.0 sqft",2021-11-19 21:12:00
15326,Mount Lavinia House for Sale for sale,"Rs 58,000,000","Colombo 6, Colombo",5,7,"5,000.0 sqft",2021-11-24 18:52:00

In [50]:
df1 = df1.dropna()

In [51]:
df1

,Title,Price,Location,Baths,Beds,House size,published_date
0,House with Land for Sale in Matara for sale,"Rs 5,400,000","Matara City, Matara",1,3,"1,600.0 sqft",2021-11-06 14:32:00
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Rs 16,800,000","Athurugiriya, Colombo",3,3,"1,480.0 sqft",2021-10-24 07:27:00
2,Kelaniya - House on 20P Land for sale for sale,"Rs 20,000,000","Kelaniya, Gampaha",2,3,"2,800.0 sqft",2021-11-17 17:19:00
3,House For Sale in Pamankada Lane Wellawatte Co...,"Rs 187,000,000","Colombo 6, Colombo",5,5,"4,000.0 sqft",2021-11-17 17:07:00
4,House For Sale - Attidiya for sale,"Rs 1,300,000","Dehiwala, Colombo",1,2,900.0 sqft,2021-11-17 17:06:00
...,...,...,...,...,...,...,...
15322,House for sale Nittabuwa for sale,"Rs 6,750,000","Nittambuwa, Gampaha",1,3,"1,200.0 sqft",2021-11-23 14:06:00
15323,House for Sale - Wellawatte for sale,"Rs 70,000,000","Dehiwala, Colombo",2,3,"1,100.0 sqft",2021-11-19 21:08:00
15324,House with 20 Perches Land - Maharagama for sale,"Rs 44,000,000","Maharagama, Colombo",4,5,"2,750.0 sqft",2021-11-29 00:26:00
15325,House for sale in Maharagama for sale,"Rs 15,000,000","Dehiwala, Colombo",2,2,"1,350.0 sqft",2021-11-19 21:12:00
15326,Mount Lavinia House for Sale for sale,"Rs 58,000,000","Colombo 6, Colombo",5,7,"5,000.0 sqft",2021-11-24 18:52:00

In [52]:
colombo_region = df1[df['Location'].str.contains('Colombo')]
colombo_region

,Title,Price,Location,Baths,Beds,House size,published_date
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Rs 16,800,000","Athurugiriya, Colombo",3,3,"1,480.0 sqft",2021-10-24 07:27:00
3,House For Sale in Pamankada Lane Wellawatte Co...,"Rs 187,000,000","Colombo 6, Colombo",5,5,"4,000.0 sqft",2021-11-17 17:07:00
4,House For Sale - Attidiya for sale,"Rs 1,300,000","Dehiwala, Colombo",1,2,900.0 sqft,2021-11-17 17:06:00
5,House For Sale in Batharamulle for sale,"Rs 55,000,000","Talawatugoda, Colombo",4,4,"3,300.0 sqft",2021-11-17 17:04:00
7,House for Sale in Kesbewa for sale,"Rs 16,700,000","Piliyandala, Colombo",3,3,"1,400.0 sqft",2021-11-17 16:56:00
...,...,...,...,...,...,...,...
15320,Single Storey Modern House For Sale In Thalawa...,"Rs 16,500,000","Talawatugoda, Colombo",3,3,"2,300.0 sqft",2021-11-23 11:14:00
15323,House for Sale - Wellawatte for sale,"Rs 70,000,000","Dehiwala, Colombo",2,3,"1,100.0 sqft",2021-11-19 21:08:00
15324,House with 20 Perches Land - Maharagama for sale,"Rs 44,000,000","Maharagama, Colombo",4,5,"2,750.0 sqft",2021-11-29 00:26:00
15325,House for sale in Maharagama for sale,"Rs 15,000,000","Dehiwala, Colombo",2,2,"1,350.0 sqft",2021-11-19 21:12:00
15326,Mount Lavinia House for Sale for sale,"Rs 58,000,000","Colombo 6, Colombo",5,7,"5,000.0 sqft",2021-11-24 18:52:00

In [53]:
# Remove non-numeric characters and convert to float
colombo_region['Price'] = colombo_region['Price'].str.replace('Rs ', '').str.replace(',', '').astype('float32')

<ipython-input-53-d489305e2445>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colombo_region['Price'] = colombo_region['Price'].str.replace('Rs ', '').str.replace(',', '').astype('float32')

In [54]:
colombo_region.head()

,Title,Price,Location,Baths,Beds,House size,published_date
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,16800000.0,"Athurugiriya, Colombo",3,3,"1,480.0 sqft",2021-10-24 07:27:00
3,House For Sale in Pamankada Lane Wellawatte Co...,187000000.0,"Colombo 6, Colombo",5,5,"4,000.0 sqft",2021-11-17 17:07:00
4,House For Sale - Attidiya for sale,1300000.0,"Dehiwala, Colombo",1,2,900.0 sqft,2021-11-17 17:06:00
5,House For Sale in Batharamulle for sale,55000000.0,"Talawatugoda, Colombo",4,4,"3,300.0 sqft",2021-11-17 17:04:00
7,House for Sale in Kesbewa for sale,16700000.0,"Piliyandala, Colombo",3,3,"1,400.0 sqft",2021-11-17 16:56:00

In [55]:
import tensorflow as tf
from tensorflow import keras

In [56]:
X = colombo_region[['Baths','Beds']] #the features that I am using
y = colombo_region['Price'] # the target variable

In [57]:
#for the normalization part
X_norm = (X - X.mean()) / X.std()

<ipython-input-57-958b7ae7486b>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_norm = (X - X.mean()) / X.std()
<ipython-input-57-958b7ae7486b>:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_norm = (X - X.mean()) / X.std()

In [62]:
X_norm = X_norm.astype('float32')
y = y.astype('float32')

In [63]:
#building the model
model = keras.Sequential([
    keras.layers.Dense(32, activation = 'relu', input_shape =(2,)),
    keras.layers.Dense(32, activation= 'relu'),
    keras.layers.Dense(1)
])

In [64]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [65]:

model.fit(X_norm, y, epochs=100, batch_size=32)

Epoch 1/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 2/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 3/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 4/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 5/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 6/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 7/100
344/344 [==============================] - 1s 4ms/step - loss: nan
Epoch 8/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 9/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 10/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 11/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 12/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 13/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 14/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 15/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 16/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 17/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 18/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 19/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 20/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 21/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 22/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 23/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 24/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 25/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 26/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 27/100
344/344 [==============================] - 1s 3ms/step - loss: nan
Epoch 28/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 29/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 30/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 31/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 32/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 33/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 34/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 35/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 36/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 37/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 38/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 39/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 40/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 41/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 42/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 43/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 44/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 45/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 46/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 47/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 48/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 49/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 50/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 51/100
344/344 [==============================] - 1s 4ms/step - loss: nan
Epoch 52/100
344/344 [==============================] - 1s 3ms/step - loss: nan
Epoch 53/100
344/344 [==============================] - 2s 5ms/step - loss: nan
Epoch 54/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 55/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 56/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 57/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 58/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 59/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 60/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 61/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 62/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 63/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 64/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 65/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 66/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 67/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 68/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 69/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 70/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 71/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 72/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 73/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 74/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 75/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 76/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 77/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 78/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 79/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 80/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 81/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 82/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 83/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 84/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 85/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 86/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 87/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 88/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 89/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 90/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 91/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 92/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 93/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 94/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 95/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 96/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 97/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 98/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 99/100
344/344 [==============================] - 1s 2ms/step - loss: nan
Epoch 100/100
344/344 [==============================] - 1s 2ms/step - loss: nan

In [66]:
test_data = pd.DataFrame({'bedrooms': [3, 4], 'bathrooms': [2, 3]})
normalized_test_data = (test_data - X.mean()) / X.std()
predictions = model.predict(normalized_test_data)

1/1 [==============================] - 0s 95ms/step

<ipython-input-66-92fd7bfa72ce>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  normalized_test_data = (test_data - X.mean()) / X.std()
<ipython-input-66-92fd7bfa72ce>:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  normalized_test_data = (test_data - X.mean()) / X.std()

In [69]:
predictions = predictions.astype('float64')
print(predictions)

[[nan]
 [nan]]

In [68]:
# Calculate the errors (difference between predictions and actual prices)
errors = y - predictions.flatten()

ValueError: ignored